table {
  border-collapse: collapse;
  font-family: Roboto,Arial,sans-serif;
}
th, td {
  padding: 10px 20px 10px 10px;
  text-align: left;
  vertical-align: top;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
th {
  font-size: 16px;
  color: #202124;
  border-top: 1px solid #dfdfdf;
}
.id {
  word-break: break-word;
  max-width: 250px
}
input {
  cursor: pointer;
}