{% extends 'base.html' %}

{% block content %}
    <div class='row' style="margin-bottom: 20px;">
        <h3 class='col-12'>Управление контейнерами</h3>
        <div class="col-12">
            <div class="row">
                <form class='col-6' action="{{ url_for('admin.conteiner_proc') }}" method='POST' id='form_actions'>
                    <input class='cont_id' value="" hidden type="text" name="container_id">
                    <input class='cont_action' value="" hidden type="text" name="container_action">
                    <div class="btn-group cont-control" role="group" aria-label="Toolbar">
                        {{ toolbar_form.start_cont }}
                        {{ toolbar_form.stop_cont }}
                        {{ toolbar_form.kill_cont }}
                        {{ toolbar_form.restart_cont }}
                        {{ toolbar_form.pause_cont }}
                        {{ toolbar_form.resume_cont }}
                        {{ toolbar_form.remove_cont }}
                    </div>
                </form>
                <form class="col-auto ml-auto" action="{{ url_for('user.logout') }}" method="POST">
                    <div class="btn-group">
                        {{ logout_form.logout }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3>Добавление контейнера</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-warning" role="alert">
                        {% for message in messages %}
                            {{ message }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class='row' style="margin-bottom: 20px;">
        <form class='col-6' action="{{ url_for('admin.conteiner_add') }}" method='POST'>
            <div class="form-group">
                {{ contadd_form.cont_name.label }}
                {{ contadd_form.cont_name() }}
            </div>
            {{ contadd_form.submit_cont_name }}
        </form>  
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3>Список контейнеров</h3>
                <form id='form_containers'>
                    <table>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Labels</th>
                            <th>Status</th>
                            <th>Volumes</th>
                            <th>Ports</th>
                        </tr>
                        {% for container in container_list %}
                            <tr>
                                <td>
                                    <input type='radio' class='cheker' name='cheker' value='{{ container.name }}' data-status='{{ container.status }}' data-id='{{ container.id }}'>
                                </td>
                                <td class='id'>
                                    {{ container.id }}
                                </td>
                                <td>
                                    {{ container.name }}
                                </td>
                                <td>
                                    {{ container.image }}
                                </td>
                                <td>
                                    {{ container.labels }}
                                </td>
                                <td class='status'>
                                    {{ container.status }}
                                </td>
                                <td>
                                    {{ container.volumes }}
                                </td>
                                <td>
                                    {{ container.ports }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </body>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.cont-control input').attr("disabled", "true");
            $('.cheker').click(function () {
                var check = $(this).data('status');
                if ($(this).is(':checked') && $(this).data('status') === 'exited') {
                    $('.cont-control input').attr("disabled", "true");
                    $('#start_cont').removeAttr("disabled");
                    $('#remove_cont').removeAttr("disabled");
                } else if ($(this).is(':checked') && $(this).data('status') === 'paused') {  
                    $('.cont-control input').attr("disabled", "true");
                    $('#resume_cont').removeAttr("disabled"); 
                } else {
                    $('.cont-control input').removeAttr("disabled");
                    $('#start_cont').attr("disabled", "true");
                    $('#remove_cont').attr("disabled", "true");
                };
            });

            var formActions = $('#form_actions');
            var formContainers = $('#form_containers');

            function getContainerID() {
                var SelectedContainerID = $(formContainers).find('input:checked').data('id');
                $(formActions).find('.cont_id').val(SelectedContainerID);
            }

            $(formActions).on('click', 'input[type="submit"]', function(e) {
                e.preventDefault();
                var form = $(this).parent().parent();
                var action = $(form).find('.cont_action');
                $(action).val($(this).val());
                getContainerID();
                $(form).serialize();
                $(form).submit();
            });
        });
    </script>
{% endblock content %}
