{% extends 'base.html' %}

{% block content %}
    <div class='row'>
        <div class='col-12'>
            <h3>Управление контейнерами</h3>
            <form action="{{ url_for('admin.admin_index') }}" method='POST'>
                <div class="btn-group" role="group" aria-label="Toolbar">
                    {{ form.start_cont }}
                    {{ form.stop_cont }}
                    {{ form.kill_cont }}
                    {{ form.restart_cont }}
                    {{ form.pause_cont }}
                    {{ form.resume_cont }}
                    {{ form.remove_cont }}
                </div>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <h3>Список контейнеров</h3>
                <form>
                    <table>
                        <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Labels</th>
                        <th>Status</th>
                        <th>Volumes</th>
                        <th>Ports</th>
                        </tr>
                        {% for container in container_list %}
                            <tr>
                                <td>
                                    <input type='radio' class='cheker' name='cheker' value='{{ container.name }}' data-status='{{ container.status }}'>
                                </td>
                                <td class='id'>
                                    {{ container.id }}
                                </td>
                                <td>
                                    {{ container.name }}
                                </td>
                                <td>
                                    {{ container.image }}
                                </td>
                                <td>
                                    {{ container.labels }}
                                </td>
                                <td class='status'>
                                    {{ container.status }}
                                </td>
                                <td>
                                    {{ container.volumes }}
                                </td>
                                <td>
                                    {{ container.ports }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </body>
        </div>
    </div>
    <script type="text/javascript">
        $('.btn-group input').attr("disabled", "true");
        $('.cheker').click(function () {
            var check = $(this).data();
            if ($(this).is(':checked') && $(this).data('status') === 'exited') {
                $('.btn-group input').attr("disabled", "true");
                $('#start_cont').removeAttr("disabled");
                $('#remove_cont').removeAttr("disabled");
                console.log(check);
            } else {
                $('.btn-group input').removeAttr("disabled");
                $('#start_cont').attr("disabled", "true");
                $('#remove_cont').attr("disabled", "true");
            };
        });
    </script>
{% endblock content %}
