body {
    font-family: Tahoma, Verdana, sans-serif;
}

.form {
    width: 350px;
    margin: 0 auto;
}

.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__toggle-form-btn {
    border: 0;
    outline: 1px solid lightgray;
    -webkit-appearance: none;
}

.form__toggle-form-btn:first-child {
    margin-right: 5px;
}

.form__input-login,
.form__input-pass,
.form__input-submit {
    width: 100%;
    margin-bottom: 10px;
    display: block;
    padding: 7px 0;
    -webkit-appearance: none;
    border: 0;
    outline: 1px solid lightgray;
    text-indent: 5px;
}

.form__toggle-form-btn,
.form__input-submit {
    cursor: pointer;
}
