<!DOCTYPE html>
<html lang="en" dir="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Main page</title>
    </head>
    <body>
        <h1>Authorize</h1>

        <hr>

        <form action="" class="form">
            <input type="text" id="login" class="form__input-login" placeholder="login">
            <input type="password" name="pass" id="password" class="form__input-pass" placeholder="Password">
            <input type="submit" class="form__input-submit" value="Login">
        </form>
    </body>
</html>
